/* Reset */
* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

/* Regole universale */
ul{
    list-style-type: none;
}

button{
    background-color: blue;
    color: #ffffff;
    border: 0px;
    padding: 10px 15px;
}

.btn {
    background-color: #ffffff;
    color: gray;
    border: 1px solid gray;
}

li > div > a{
    color: #000000;
    text-decoration: none;
    font-weight: light;
}

.margine{
    width: 1000px;
    margin: 0px auto;
}

h1{
    font-size: 85px;
    margin-top: 0px;
    padding-top: 100px;
}

.bold{
    font-weight: bold;
}

/* Classi utili */

.bianco{
    color: white;
}

.flex{
    display: flex;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

/* Header */

header > div{
    display: flex;
    justify-content: space-between;
}

header > div > div{
    display: flex;
    align-items: center;
}

header > div > div > ul {
    margin: 0px;
    padding: 25px 0px;
}

header > div > div > ul > li > div > a {
    height: 80px;
    padding: 0px 15px;
}

/* Prima sezione */

.bg-first {
    background-color: lightblue;
}

.first {
    width: 1200px;
    margin: 0px auto;
}

.cnt-first > .nopa{
    padding-bottom: 20px;
    margin: 0px;
}

.img-prima{
    width: calc(1200px - 360px);
    position: relative;
    top: 0px;
}

.cnt-first > div {
    padding-bottom: 30px;
}

.cnt-first > div > p{
    margin: 0px;
}

.cnt-first > i {
    font-size: 35px;
}

.img-prima > img{
    width: calc(1200px - 360px);
}

/* Seconda Sezione */

.second {
    margin-bottom: 210px;
}

.pacchetto{
    border: 1px solid gray;
    width: 300px;
}

.pacchetto > div {
    margin: 0px 30px;
}

.pacchetto > div > div {
    padding-bottom: 20px;
}

.pacchetti {
    flex-wrap: wrap;
    justify-content: space-around;
}

.ut{
    text-align: center;
}

/* Terza Sezione */

.third{
    justify-content: center;
    margin-bottom: 165px;
}

.img-third{
    width: calc(1200px - 400px)
}

.img-third > img{
    width: calc(100%);
}

.cnt-terzo{
    width: 400px;
    margin: 0 50px;
}

/* Quarta Sezione */

.quarto {
    border: 0px;
    padding-bottom: 70px;
}

.forth {
    flex-wrap: wrap;
    padding-bottom: calc(210px - 70px);
}

.quarto > div > img {
    width: calc(100%);
}
/* Quinta Sezione */

.fifth {
    padding-bottom: 185px;
}

.fifth-h2 {
    padding-bottom: 30px;
}

/* Footer */

footer{
    background-color: #000000;
}

.sixth {
    width: calc(260px * 5);
    margin: 0 auto;
    flex-wrap: wrap;
}

.sixth > div{
    width: 260px;
}

.sixth > div > ul {
    padding: 0px;
    margin: 0px 0px 115px 0px;
}

.seventh{
    border-top: 1px solid #ffffff;
    width: 70%;
    padding: 40px 0px 100px 0px;
}
