/* Reset */
* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Regole universale */
ul{
    list-style-type: none;
}

button{
    background-color: blue;
    color: #ffffff;
    border: 0px;
}

.btn {
    background-color: #ffffff;
    color: gray;
    border: 1px solid gray;
}

li > div > a{
    color: #000000;
    text-decoration: none;
}

.margine{
    width: 1000px;
    margin: 0px auto;
}

h1{
    font-size: 85px;
}

.bold{
    font-weight: bold;
}
/* Classi utili */

.bianco{
    color: white;
}

.flex{
    display: flex;
}

/* Header */

header > div{
    display: flex;
    justify-content: space-between;
}

header > div > div{
    display: flex;
    align-items: center;
}

header > div > div > ul > li > div {
    padding: 40px 15px 40px 15px;
}

/* Prima sezione */
.bg-first {
    background-color: lightblue;
}

.first {
    width: 1200px;
    margin: 0px auto;
}

.first > div > h1 {
    position: relative;
}
.cnt-first{
    width: 360px;
}

.img-prima{
    width: calc(1200px - 360px);
    position: absolute;
    display: none;
}

.img-prima > img{
    width: calc(1200px - 360px);
}

/* Seconda Sezione */

.pacchetto{
    border: 1px solid gray;
    width: 300px;
}

.pacchetto > div {
    margin: 0px 30px 0px 30px;
}

.pacchetti {
    flex-wrap: wrap;
    justify-content: space-around;
}

.ut{
    text-align: center;
}

/* Terza Sezione */

.third{
    justify-content: center;
}

.img-third{
    width: calc(1200px - 400px)
}

.img-third > img{
    width: calc(100%);
}

.cnt-terzo{
    width: 400px;
}

/* Footer */

footer{
    background-color: #000000;
}
